.chat_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    flex-direction: column;

    .title{
        padding: 20px 0;
        color: #003459;
        font-size: 20px;
        font-style: italic;

        @media(max-width:640px){
            padding: 40px 0 20px 0;
        }

        h3{
            font-weight: 400;

            @media(max-width:640px){
                font-size: 12px;
            }

            span{
                font-weight: 800;
            }
        }
    }

    .chat_sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .input_container{
            position: fixed;
            bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
    
    
    
            input{
                height: 33px;
                width: 800px;
                position: relative;
                padding: 20px 30px;
                border-radius: 90px;
                border: none;
                background-color: white;
                filter: drop-shadow(2px 3px 10px #61616180);
                font-family: "Poppins";
                color: #003459;
    
                &::placeholder{
                    font-family: "Poppins";
                    color: #003459;
                }


                &:focus{
                    outline: none;
                }

                @media(max-width:768px){
                    width: 500px;
                    height: 14px;
                }

                @media(max-width:640px){
                    width: 250px;
                }
            }
    
            button{
                position: absolute;
                padding: 20px 40px;
                border-radius: 90px;
                right: 10px;
                border: none;
                background-color: #003459;
                cursor: pointer;


                @media(max-width:768px){
                    padding: 14px 35px;
                }
                
            }
        }
    }



    .chat_hist{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 800px;
        margin-bottom: 50px;
        max-height: 450px;
        overflow-y: auto;
        scroll-behavior: smooth;

        @media(max-width:768px){
            width: 640px;
        }

        @media(max-width:640px){
            width: 300px;
        }

        &::-webkit-scrollbar{
            display: none;
        }

        .bubble{
            max-width: 600px;
            margin-bottom: 10px;

            @media(max-width:640px){
                max-width: 200px;
                font-size: 12px;
                padding: 10px;
            }
        }

        .chat_AI{
            width: 100%;
            display: flex;
            justify-content: start;

            .bubble{
                background-color: white;
                filter: drop-shadow(2px 3px 10px #61616140);
                padding: 20px;
                border-radius: 20px 20px 20px 0px;
                color: #003459;
                font-style: italic;
            }
        }

        .chat_user{
            width: 100%;
            display: flex;
            justify-content: end;

            .bubble{
                background-color: #003459;
                border-radius: 20px 20px 0px 20px;
                color: white;
                filter: drop-shadow(2px 3px 10px #61616140);
                padding: 20px;
            }
        }
    }
}